{% extends 'AvroImageBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Edit Images</h1>
    </div>
    {% include 'AvroImageBundle:Twitter:gallery_content.html.twig' %}
{% endblock %}
